* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button,
button:hover,
button:focus {
    background: inherit;
    color: inherit;
    border: 0;
    box-shadow: 0;
    outline: 0;
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    color: $brown;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: $background-light;
}

.block {
    display: block;
}

.central {
    margin: 0 auto;
}

.container {
    width: 90%;
    max-width: 1150px;
}

.flex {
    display: flex;
}

.in-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.background-dark {
    background-color: $background-dark;
}


/* MEDIA QUERY */
.flex-m {
    display: none;
}

.hide-m {
    display: block;
}

@media screen and (min-width: $medium) {
    .block-m {
        display: block;
    }

    .flex-m {
        display: flex;
    }

    .hide-m {
        display: none;
    }
}