* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: $brown;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: $background-light;
}

.central {
    margin: 0 auto;
}

.container {
    width: 90%;
    max-width: 1150px;
}

.flex {
    display: flex;
}

.in-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.dropdown-menu {
    display: none;
}

.background-dark {
    background-color: $background-dark;
}