.footer {
    padding-top: 100px;
    padding-bottom: 55px;

    .container {
        flex-wrap: wrap;

        .footer-left {
            flex-basis: 100%;
            font-weight: 600;
    
            img {
                margin-right: 15px;
                width: 50px;
            }
    
            p {
                vertical-align: top;
                font-size: 120%;
    
                a {
                color: $blue;
                }
            }
        }
    
        .list-box {
            flex-basis: 50%;
            padding: 0 15px;
    
            h3 {
                margin-bottom: 15px;
            }
    
            li {
                line-height: 250%;
            }
        }
    }
}


@media screen and (min-width: $large) {
    .footer {
        .container {
            .footer-left {
                flex-basis: 370px;
            }
        
            .list-box {
                flex-basis: calc((100% - 370px) / 5);
            }
        }
    }
}
