.header .container{
    border-bottom: 1px solid #bdb5af;
    padding: 20px 0;

    .row {
        justify-content: space-between;
        height: 35px;

        .nav-bar {
            height: 100%;
            align-items: center;

            & > li {
                height: 100%;

                & > a,
                & > div {
                    display: inline-flex;
                    align-items: center;
                    height: 100%;
                    margin-left: 20px;
                    padding: 0 10px;
                    cursor: pointer;
                    font-weight: 600;
                }

                .dropdown-title {
                    align-items: center;
                    
                    i {
                        margin-left: 5px;
                    }
                }
            }

            & .sign-btn {
                align-items: center;
                border: 1px solid $blue;
                border-radius: 10px;
                color: $blue;

                &:hover {
                    background: $blue;
                    color: white;
                }

                img {
                    width: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
}

