.header .container{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #bdb5af;
    padding: 10px 0;

    .row {
        width: 90%;
        justify-content: space-between;
        height: 35px;

        .hamburger {
            width: 35px;
            height: 35px;
            font-size: 180%;
            color: $brown;
            background: inherit;
        }

        .nav-bar {
            align-items: center;

            .nav-bar-list {
                height: 100%;
                align-items: center;
    
                & > li {
                    height: 100%;
                    font-weight: 600;
    
                    & > a,
                    & > .dropdown-wrapper {
                        display: inline-flex;
                        align-items: center;
                        height: 100%;
                        margin-left: 20px;
                        padding: 0 10px;
                        cursor: pointer;
                    }

                    &:hover > * {
                        color: $blue;
                    }
                }

                .dropdown-wrapper {
                    position: relative;
                    align-items: center;
                
                    .dropdown-title {
                        align-items: center;

                        i {
                            margin-left: 5px;
                        }
                    }
                
                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        left: 50%;
                        top: 90%;
                        transform: translateX(-50%);
                        padding: 5px 35px 5px 15px;
                        background: #fff;
                        box-shadow: 0 0 10px #bbb;
                        border-radius: 10px;
                        line-height: 350%;
                        font-weight: 600;
                        color: $brown;
                        
                        li:hover > a {
                            color: $blue;
                        }
                    }
                
                    &:hover .dropdown-menu {
                        display: block;
                    }
                }
    
                & .sign-btn {
                    align-items: center;
                    border: 1px solid $blue;
                    border-radius: 10px;
                    color: $blue;
    
                    &:hover {
                        background: $blue;
                        color: white;
                    }
    
                    img {
                        width: 15px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .hamburger-menu {
        display: none;
        position: absolute;
        top: 56px;
        padding: 10px 5% 15px;
        z-index: 1;
        background-color: #fff;
        width: 100%;
        color: $brown;
        font-size: 120%;
        font-weight: 600;
        box-shadow: 0 3px 1px rgba(187, 187, 187, 0.5);

        li {
            line-height: 200%;
        }

        .hamb-sign-up-btn {
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            height: 35px;
            border-radius: 10px;
            border: 1px solid $blue;
            color: $blue;
            width: 100%;

            &:hover {
                background: $blue;
                color: #fff;
            }

            img {
                margin-right: 10px;
                width: 15px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .header .container{
        padding: 20px 0;

        .row {
            width: 100%;
        }
    }
}
