.jumbotron {

    .container {
        padding-top: 115px;
        padding-bottom: 80px;

        .jumbotron-left,
        .jumbotron-right {
            flex-basis: 50%;
            height: 450px;
        }

        .jumbotron-left {
            h1 {
                padding-right: 15px;
                font-size: 50px;
                font-weight: 600;
            }

            .jumbotron-text:first-of-type {
                margin: 45px 0;
                width: 450px;
                font-size: 20px;
                line-height: 150%;
            }

            .jumbotron-text:last-of-type {
                margin: 25px 0;
                font-size: 14px;
            }
            
            .sign-up-block {
                margin-top: 45px;
            }
        }

        .jumbotron-right {
            background-image: url('../../../dist/img/illustration-main.jpg');
            background-size: cover;
        }
    }
}

