.jumbotron {

    .container {
        padding-top: 115px;

        .jumbotron-left,
        .jumbotron-right {
            flex-basis: 50%;
            height: 450px;
        }

        .jumbotron-left {
            h1 {
                padding-right: 15px;
                font-size: 50px;
                font-weight: 600;
            }

            p {
                margin: 45px 0;
                font-size: 20px;
                line-height: 150%;
            }

            .row 
        }

        .jumbotron-right {
            background-image: url('../../../dist/img/illustration-main.jpg');
            background-size: cover;
        }
    }
}

