.large-container {
    margin-top: 115px;
    margin-bottom: 15px;

    * {
        flex-basis: 50%;
    }

    .img-box {
        width: 768px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .column {
        img {
            width: 270px;
        }
    }
}
    